{
  "env": {
    "browser": true,
    "es2020": true,
    "jest": true
  },
  "plugins": [
    "svelte3",
    "jest"
  ],
  "extends": ["airbnb-base/legacy"],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "rules": {
    "eol-last": ["error", "always"],
    "indent": ["warn", 2],
    "max-len": ["error", { "code": 130, "ignoreComments": true }],
    "no-param-reassign": "off",
    "semi": ["error", "never"]
  }
}
